<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doan3.greensocial">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.AddStoryActivity"></activity>
        <activity android:name=".Activities.EditUserInfoActivity" />
        <activity android:name=".Activities.CommentActivity" />
        <activity android:name=".Activities.EditPostActivity" />
        <activity android:name=".Activities.AddPostActivity" />
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.UserInfoActivity" />
        <activity android:name=".Activities.AuthActivity" />
        <activity android:name=".Activities.OnBoardActivity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>